# 1. root 워크스페이스에 커맨드 없이 패키지 설치 허용
ignore-workspace-root-check=true

# 2. (Nuxt/Vite 환경 필수) 호환성을 위한 호이스팅 활성화
shamefully-hoist=true

# 3. 빌드 스크립트 자동 승인 목록
allowed-build-scripts[]=@parcel/watcher
allowed-build-scripts[]=core-js-pure
allowed-build-scripts[]=esbuild
allowed-build-scripts[]=protobufjs
allowed-build-scripts[]=vue-demi