@charset "UTF-8";
@import "reset.scss";

// 요소 사이즈 조절
@mixin size($width, $height) {
    width : $width;
    height : $height;
}

// transition 속성
@mixin transition($transition: ease) {
    transition: all ease .2s;
}

// 말줄임
@mixin ellipsis {
    max-width : 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin position_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// 반응형 미디어 쿼리
@mixin responsive($device) {
    $mobile: 480px;
    $tablet: 768px;
    $notebook: 1280px;
    $mac: 1440px;

    @if $device == "mac" {
        @media screen and (min-width : #{$notebook + 1px}) and (max-width : $mac) {
            @content;
        }
    } 
    
    @else if $device == "horizontal_tablet" {
        @media screen and (min-width : #{$tablet + 1px}) and (max-width : $notebook) {
            @content;
        }
    }

    @else if $device == "vertical_tablet" {
        @media screen and (min-width : #{$mobile + 1px}) and (max-width : $tablet) {
            @content;
        }
    }

    @else if $device == "mobile" {
        @media screen and (max-width : $mobile) {
            @content;
        } 
    }
}

@font-face {
    src : url("/font/paperlogy/Paperlogy-4Regular.ttf");
    font-family: "Paper_R";
    font-weight: 400;
}

@font-face {
    src : url("/font/paperlogy/Paperlogy-5Medium.ttf");
    font-family: "Paper_M";
    font-weight: 500;
}

@font-face {
    src : url("/font/paperlogy/Paperlogy-7Bold.ttf");
    font-family: "Paper_B";
    font-weight: 600;
}

.is_pointer {
    cursor: pointer;
}

:root {
    --main_color : #000;
    --sub_color : #fff;
    --txt_color : #777;
    --check_color : #00BF00;
    
    --background : #fff;
    --input_background : #F0F0F0;
    
    --font-xl : 20px;
    --font-l : 16px;
    --font-m : 14px;
    --font-s : 12px;
}