/* 전체그리드와 메뉴 */
#__nuxt {
    height: 100%;
  }
  
  .guide-layout {
    .wrapper {
      min-height: 100%;
      padding-left: 260px;
      background: #f4f4f4;
      @include transition;
  
      &:has(.is-fold) {
        padding-left: 90px;
  
        .btn-wrap {
          &.fixed {
            width: calc(100% - 90px);
            @include transition;
          }
        }
      }
  
      &.use-notoSans {
        // 2025.12.01 [mhlim]: 그리드 내부 상태(노데이터) 레이어 텍스트
        // 노토산스 폰트 적용
        .grid-wrapper {
          .tui-grid-container {
            .tui-grid-layer-state {
              .tui-grid-layer-state-content {
                p {
                  font-family: 'NotoSans' !important;
                }
              }
            }
          }
        }
      }
  
      &.use-pretendard {
        // 2025.12.01 [mhlim]: 그리드 내부 상태(노데이터) 레이어 텍스트
        // 프리텐다드 폰트 적용
        .grid-wrapper {
          .tui-grid-container {
            .tui-grid-layer-state {
              .tui-grid-layer-state-content {
                p {
                  font-family: 'pretendard' !important;
                }
              }
            }
          }
        }
      }
  
      &.use-elice {
        // 2025.12.01 [mhlim]: 그리드 내부 상태(노데이터) 레이어 텍스트
        // 엘리스 디지털 배움 폰트 적용
        .grid-wrapper {
          .tui-grid-container {
            .tui-grid-layer-state {
              .tui-grid-layer-state-content {
                p {
                  font-family: 'EliceDigitalBaeum' !important;
                }
              }
            }
          }
        }
      }
  
      nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 100%;
        padding-top: 38px;
        background-color: var(--colorMain);
        overflow: hidden;
        @include transition;
        z-index: 51;
  
        .btn-area {
          margin-left: 50px;
        }
  
        .nav-fold-btn {
          display: inline-block;
          width: 24px;
          height: 24px;
  
          .nuxt-icon {
            font-size: 21px;
            color: #fff;
          }
        }
  
        .nav {
          flex: 1;
          overflow: hidden;
          overflow-y: auto;
          margin-top: 10px;
          color: #fff;
  
          [class^='fi-'],
          [class*='fi-'] {
            color: #fff;
          }
  
          &-item {
            position: relative;
  
            .link {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 4px 20px 4px 52px;
  
              .icon {
                width: 30px;
                text-align: center;
              }
  
              .txt {
                flex: 1;
                word-break: keep-all;
              }
            }
  
            &.depth1 {
              & > .link {
                height: 60px;
                cursor: pointer;
  
                .txt {
                  margin-left: 20px;
                }
  
                .nuxt-icon {
                  font-size: 22px;
                  color: #fff;
                }
              }
  
              &:hover,
              &.is-active {
                background: rgba(0, 0, 0, 0.2);
              }
            }
  
            // 2뎁스 메뉴 아이템 영역
            &.depth2 {
              // 2025.12.03 [mhlim]: 2뎁스 메뉴 아이템 좌측 여백 62px 고정
              & > .link {
                min-height: 48px;
                height: auto;
                line-height: 1.2;
                background-color: rgba(0, 0, 0, 0.3);
                cursor: pointer;
                padding-left: 62px;
  
                .icon {
                  max-width: 24px;
                  margin-top: -10px;
                  text-align: center;
  
                  & > i {
                    display: inline-block;
                    @include size(9px, 11px);
                    border-left: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    border-radius: 0 0 0 4px;
                  }
                }
  
                .txt {
                  margin-left: 10px;
                  & > span {
                    position: relative;
                    display: inline-block;
                  }
                }
  
                &:hover,
                &.is-active {
                  .txt {
                    & > span {
                      text-decoration: underline 1px;
                      text-underline-offset: 4px;
                    }
                  }
                }
  
                &:hover {
                  .txt {
                    & > span {
                      &:after {
                        transform: scaleX(1);
                      }
                    }
                  }
                }
              }
  
              &:first-child {
                .link {
                  height: auto;
                  line-height: 1.2;
                  padding-top: 0;
                }
              }
            }
  
            // 2025.12.03 [mhlim]: 3뎁스 메뉴 리스트 좌측 여백 고정
            // (2뎁스 62px + 34px) = 96px
            .depth3-list {
              padding: 10px 0;
              padding-left: 28px;
              background-color: rgba(0, 0, 0, 0.4);
            }
  
            // 3뎁스 메뉴
            &.depth3 {
              & > .link {
                min-height: 34px;
                min-height: 50px;
                line-height: 1.2;
                cursor: pointer;
                padding-left: 62px;
  
                // 들여쓰기 아이콘 최소 너비 24px 고정
                .icon {
                  margin-top: -10px;
                  text-align: center;
                  min-width: 24px;
                  max-width: 24px;
  
                  & > i {
                    display: inline-block;
                    @include size(9px, 11px);
                    border-left: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    border-radius: 0 0 0 4px;
                  }
                }
  
                // 2025.12.03 [mhlim]: 2뎁스 메뉴 텍스트 최대/최소 너비 124px 고정
                .txt {
                  min-width: 124px;
                  margin-left: 6px;
                  // font-size: 14.8px;
                  & > span {
                    position: relative;
                    max-width: 124px;
                    word-break: keep-all;
                    word-wrap: break-word;
                    display: inline-block;
                  }
                }
  
                &:hover,
                &.is-active {
                  .txt {
                    & > span {
                      text-decoration: underline 1px;
                      text-underline-offset: 4px;
                    }
                  }
                }
              }
  
              &:first-child {
                .link {
                  height: auto;
                  line-height: 1.2;
                  padding-top: 0;
                }
              }
            }
          }
  
          &::-webkit-scrollbar {
            width: 6px;
            cursor: pointer;
          }
  
          &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.23);
          }
  
          &::-webkit-scrollbar-track,
          &::-webkit-scrollbar-track-piece {
            background-color: rgba(0, 0, 0, 0);
          }
        }
  
        .setting {
          display: flex;
          height: 60px;
          background: rgba(0, 0, 0, 0.1);
  
          &:after {
            @include clearAfter;
          }
  
          &-item {
            flex: 1;
            height: 100%;
            float: left;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
  
            &:last-child {
              border-right: 0;
            }
  
            & > a {
              display: flex;
              align-items: center;
              justify-content: center;
              @include size(100%);
            }
  
            .nuxt-icon {
              font-size: 20px;
              color: #fff;
            }
          }
        }
  
        &.is-fold {
          width: 90px;
  
          .btn-area {
            margin-left: 0;
            text-align: center;
          }
  
          .nav-item {
            & > .link {
              padding: 0;
            }
          }
  
          .setting {
            height: auto;
  
            &-item {
              width: 100%;
              height: 60px;
              border-right: 0;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
              &:last-child {
                border: 0;
              }
            }
          }
        }
      }
  
      $containerPaddingBottom: 40px;
  
      .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 100vh;
        padding: 10px 30px $containerPaddingBottom 35px;
        min-width: 1450px;
        background: #f4f4f4;
  
        .page-top-btn {
          position: fixed;
          bottom: 40px;
          right: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @include size(50px);
          color: var(--colorText2);
          background: #fff;
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          z-index: 1;
          @include transition;
  
          &:hover {
            color: var(--colorMain);
          }
  
          i {
            display: inline-block;
            transform: rotate(180deg);
            font-size: 6px;
          }
  
          span {
            letter-spacing: 0;
            font-size: var(--font-adm-xs);
            margin-top: 4px;
          }
        }
  
        .btn-feedback {
          position: fixed;
          bottom: 40px;
          right: 10px;
          z-index: 1;
  
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          @include size(50px);
          background-color: var(--colorMain);
          border-radius: 50%;
          color: #fff;
          @include transition;
  
          &.has-top {
            bottom: 100px;
          }
  
          .nuxt-icon {
            font-size: 23px;
          }
  
          &:hover {
            background-color: var(--colorMainDark);
          }
        }
  
        &:has(.btn-wrap.fixed) {
          padding-bottom: $containerPaddingBottom + 40px;
  
          .page-top-btn {
            bottom: $containerPaddingBottom + 52px;
          }
  
          .btn-feedback {
            bottom: $containerPaddingBottom + 52px;
  
            &.has-top {
              bottom: $containerPaddingBottom + 112px;
            }
          }
        }
      }
  
      header {
        position: relative;
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
  
        .logo {
          display: block;
          max-width: 500px;
          height: 45px;
  
          &-img {
            display: block;
            @include size(auto, 100%);
          }
        }
  
        .menu {
          display: flex;
          gap: 10px;
          align-items: center;
          height: 34px;
  
          .select-menu {
            display: flex;
            gap: 10px;
            align-items: center;
  
            .btn-wrap {
              gap: 5px;
              margin-top: 0;
  
              button {
                border-color: #345abf;
                color: #345abf;
                margin-right: 0;
                border-radius: 100px;
                display: flex;
                gap: 8px;
                align-items: center;
  
                &:before {
                  background-color: #f1f3fa;
                }
  
                &.blue {
                  .nuxt-icon {
                    path {
                      fill: #345abf;
                    }
                  }
                }
  
                &.indigo-blue {
                  border-color: #4a509f;
                  color: #4a509f;
  
                  &:before {
                    background-color: #f2f3f8;
                  }
  
                  .nuxt-icon {
                    path {
                      fill: #4a509f;
                    }
                  }
                }
  
                &.sea-green {
                  border-color: #147c6c;
                  color: #147c6c;
  
                  &:before {
                    background-color: #f2fdfb;
                  }
                }
  
                &.light-green {
                  border-color: #008900;
                  color: #008900;
  
                  &:before {
                    background-color: #f2fff2;
                  }
  
                  .nuxt-icon {
                    path {
                      fill: #008900;
                    }
                  }
                }
  
                &.deep-yellow {
                  border-color: #ce6e00;
                  color: #ce6e00;
  
                  &:before {
                    background-color: #fffdf9;
                  }
                }
  
                &.teal {
                  border-color: #1a8da7;
                  color: #1a8da7;
  
                  .nuxt-icon {
                    path {
                      fill: #1a8da7;
                    }
                  }
                }
              }
            }
  
            .role-select {
              width: 173px;
  
              select {
                width: 100%;
              }
            }
          }
  
          &-icons {
            .item {
              display: inline-block;
              vertical-align: middle;
              transform: scaleX(-1);
  
              .nuxt-icon {
                font-size: 24px;
                transform: rotate(180deg);
              }
  
              .fi {
                &-search {
                  font-size: 21px;
                }
  
                &-bell {
                  font-size: 26px;
                }
  
                &-out {
                  font-size: 22px;
                }
              }
  
              &.alarm {
                position: relative;
  
                .dot {
                  position: absolute;
                  top: 3px;
                  right: -2px;
                  @include size(10px);
                  background: var(--colorMainLight);
                  border-radius: 50%;
                }
              }
            }
          }
  
          &-add {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 52px;
            height: 52px;
            border: 1px dashed #c2c2c2;
            border-radius: 12px;
            margin-right: 10px;
  
            .icon {
              display: block;
              background: url($imgLxpUrl + '/icon/icon_plus.png') no-repeat;
              background-size: auto 100%;
              width: 16px;
              height: 16px;
            }
          }
  
          &-user {
            margin-right: 20px;
            .thumb {
              position: relative;
  
              &-img {
                @include size(56px);
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                cursor: pointer;
              }
  
              &-role {
                position: absolute;
                top: calc(100% + 8px);
                right: 0;
  
                &-item {
                  font-size: var(--font-adm-sm);
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
  
      .today-menu {
        & + .page-title {
          position: relative;
        }
      }
  
      .page-title {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 20px 40px 0;
        border-radius: 0 15px 0 0;
        background: #fff;
  
        .title {
          display: inline-flex;
          align-items: center;
  
          .nuxt-icon {
            margin-right: 10px;
            width: 26px;
            height: 26px;
  
            &.document {
              g {
                fill: #000;
              }
            }
          }
  
          .txt {
            font-size: var(--font-adm-xxl);
          }
  
          .form-toast {
            position: absolute;
            top: 100%;
            left: auto;
            transform: none;
            margin-right: 40px;
            padding: 10px;
  
            & > .txt {
              margin: 0 34px 0 10px;
              font-size: var(--font-adm-base);
            }
  
            &-btn {
              margin: 0.05em 0 0 4px;
              font-size: 20px;
            }
  
            .btn-close {
              margin-left: 2px;
  
              & > i {
                font-size: 10px;
              }
            }
          }
        }
  
        // 브레드크럼
        .location {
          color: var(--colorMain);
  
          // 브레드크럼 링크
          &-link {
            display: inline-flex;
            align-items: center;
            gap: 3px;
            font-size: 14px;
  
            // 메인 홈 아이콘 뎁스
            .home {
              display: inline-flex;
              align-items: center;
  
              &::after {
                content: '>';
                margin-left: 3px;
              }
  
              .nuxt-icon {
                margin-bottom: 3px !important;
                font-size: 14px;
              }
            }
  
            // 경로가 존재하는 페이지 링크 메뉴 뎁스
            .page {
              display: inline-flex;
              align-items: center;
              cursor: pointer;
  
              &:hover {
                span {
                  text-decoration: underline 1px;
                  text-underline-offset: 4px;
                  color: var(--colorMainDark);
                }
              }
  
              &::after {
                content: '>';
                margin-left: 3px;
              }
  
              &:last-child {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
  
      .page-info {
        background: #fff;
        padding: 0 40px;
        display: flex;
        align-items: center;
        gap: 6px;
        color: var(--colorMain);
  
        &.sub {
          color: var(--colorText4);
          font-size: var(--font-adm-sm);
        }
  
        &.component {
          margin-bottom: 15px;
          padding: 0 0;
          gap: 10px;
        }
      }
  
      .page-tab {
        position: relative;
        z-index: 1;
  
        padding: 30px 40px 0;
        background: #fff;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid var(--colorBorder3);
  
        &-menu {
          display: flex;
          overflow: hidden;
          overflow-x: auto;
  
          .item {
            position: relative;
            padding-bottom: 14px;
            white-space: nowrap;
            font-size: var(--font-adm-xxl);
            color: var(--colorBorder1);
            font-weight: bold;
            @include transition;
            user-select: none;
  
            span {
              position: relative;
              display: inline-block;
              vertical-align: middle;
  
              &:after {
                content: '';
                position: absolute;
                bottom: -14px;
                left: 0;
                @include size(100%, 3px);
                background: var(--colorMain);
                transform: scaleX(0);
                @include transition;
              }
            }
  
            &.is-active,
            &:hover {
              color: var(--colorText1);
  
              span {
                &:after {
                  transform: scaleX(1);
                }
              }
            }
  
            &:after {
              display: inline-block;
              vertical-align: middle;
              content: 'ㆍ';
              margin: 0 5px;
              color: var(--colorText6);
            }
  
            &:last-child {
              &:after {
                display: none;
              }
            }
          }
        }
  
        & + section {
          border-radius: 0 0 10px 10px;
        }
      }
  
      section {
        flex: 1;
        padding: 40px 40px 30px;
        border-radius: 0 0 15px 15px;
        background: #fff;
  
        // 2026.06.15 [mhlim]: 검색필터 포함된 본문 케이스 > section 상단 패딩 조정
        // 2026.06.23 [wschoe]: 검색필터가 section 직속일 때만 축소.
        &:has(> .form.search-filter) {
          padding-top: 10px;
        }
  
        &:has(.error-page) {
          display: flex;
          align-items: center;
        }
  
        // 결제내역
        &.payment {
          .description {
            padding: 20px;
            background: var(--colorMainClear);
            margin: 5px 10px;
            border-radius: 5px;
  
            dl {
              display: flex;
              align-items: center;
              gap: 30px;
              margin-bottom: 15px;
  
              &:last-child {
                margin: 0;
              }
  
              dt {
                display: inline-block;
                min-width: 90px;
              }
  
              dd {
                display: inline-block;
                font-weight: 600;
              }
            }
          }
  
          .form-item {
            &.has-select {
              width: 100%;
  
              .form-box {
                width: 100%;
  
                select {
                  flex: 0;
                  min-width: 250px;
                }
              }
            }
          }
        }
  
        & + section {
          border-radius: 10px;
          margin: 10px 0;
        }
  
        & + & {
          margin-top: 10px;
        }
  
        .section-title {
          padding-left: 15px;
          margin-bottom: 30px;
          border-left: 4px solid var(--colorText1);
          font-size: var(--font-adm-xl);
          font-weight: bold;
        }
  
        .learning-hours-container {
          position: relative;
          .section-sub-title {
            // margin: 0;
            line-height: 1;
          }
          .btn-question {
            margin-left: 10px;
            color: #999;
            line-height: 1;
          }
          .form-toast {
            position: absolute;
            top: -15px;
            left: 100px;
            transform: none;
            margin-right: 40px;
            padding: 10px;
            & > .txt {
              margin: 0 34px 0 10px;
              font-size: var(--font-adm-base);
            }
          }
        }
  
        .section-sub-title {
          font-size: var(--font-adm-lg);
          font-weight: bold;
          margin: 0 0 20px; //2025.08.18[njlee] 모달 팝업에 대해서 top-margin 여백 조정
  
          // [2025.08.16][shhan]: required 클래스 추가
          &.required {
            &::after {
              content: ' *';
              color: #ff3b30;
              font-weight: normal;
            }
          }
  
          // [2025.08.13][kslim]: 버튼 여부에 따른 마진 조절
          &.has-button {
            margin-bottom: 0px;
          }
  
          &.no-button {
            margin-bottom: 12px;
          }
  
          // .btn-question {
          //   margin-left: 10px;
          //   color: #999;
          // }
          .title {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            margin: -6px -4px;
  
            .txt,
            .info {
              padding: 6px 4px;
            }
  
            .info {
              display: flex;
              align-items: flex-start;
              margin-bottom: -2px;
              font-size: var(--font-adm-sm);
              color: var(--colorText5);
  
              & > i {
                margin-right: 6px;
              }
  
              & > span {
                margin-top: -2px;
                line-height: 1.2;
                word-break: keep-all;
              }
            }
          }
  
          &.has-btn {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
  
            [class^='btn-txt'] {
              font-size: var(--font-adm-sm);
  
              .fi-exchange {
                font-size: var(--font-adm-lg);
              }
            }
          }
  
          &.no-mt {
            margin-top: 0px;
          }
          //2025.10.29[njlee] margin-top 조정
          &.mt {
            margin-top: 40px;
          }
  
          //2025.11.11[shhan]: section-sub-title 우측 요소 제어
          .title-container {
            display: flex;
            align-items: end;
            justify-content: space-between;
            width: 100%;
  
            .title-text {
              flex: 1;
  
              &.required {
                &::after {
                  content: ' *';
                  color: #ff3b30;
                  font-weight: normal;
                }
              }
            }
  
            .btn-s-line-main,
            .btn-s-fill-main {
              display: flex;
              align-items: center;
              font-weight: 400;
              svg {
                margin-right: 8px;
              }
            }
          }
        }
  
        .section-info-title {
          display: flex;
          margin: 0 0 20px;
          color: var(--colorPoint1);
  
          > svg {
            margin-right: 8px;
          }
          //2025.11.17[njlee]: 테두리 추가
          &.has-border {
            &.is-disabled {
              background-color: var(--colorBg1) !important;
            }
            &:not(.is-disabled) {
              border: 1px solid var(--colorBorder1);
            }
            align-items: center;
            height: 42px;
          }
          //2025.11.17[njlee]: 중앙 정렬 추가
          &.center {
            justify-content: center;
          }
  
          > h3 {
            color: #333333;
            padding-right: 10px;
            //[2025.09.11][한수원][shhan]: 폰트 크기 미지정으로 인한 h3 기본 폰트 크기 적용 방지
            font-size: var(--font-adm-lg);
  
            &.required {
              &:after {
                content: ' *';
                color: #ff3b30;
                font-weight: normal; // strong 태그의 font-weight 상속 방지
              }
            }
          }
  
          // &.margin-sub-title {
          //   margin: 30px 0 20px;
          // }
  
          &-group {
            margin: 20px 0 15px;
  
            .section-info-title {
              margin: 8px 0 0;
            }
          }
  
          &.color-gray {
            color: var(--colorText4);
          }
  
          &.color-main {
            color: var(--colorMain);
          }
  
          & > i {
            margin-right: 8px;
          }
  
          & > span {
            margin-top: -0.12em;
            line-height: 1.2;
            word-break: keep-all;
          }
          //2025.11.17[njlee]: 상단 영역 추가 시 마진 조정
          &.mt-30 {
            margin-top: 38px;
          }
          //2025.11.17[njlee]: 하단 영역 추가 시 마진 조정
          &.mb-30 {
            margin-bottom: 30px;
          }
          &.no-mt {
            margin-top: 0;
          }
  
          &.no-mb {
            margin-bottom: 0;
          }
        }
  
        & > .section-sub-title {
          &:first-child {
            margin-top: 0;
          }
        }
  
        &.manage-main {
          .manage-main-top {
            min-height: 50px;
  
            .fi-browser-setting {
              font-size: 24px;
            }
  
            .title {
              display: inline-block;
              margin-left: 10px;
            }
  
            .sub {
              font-size: var(--font-adm-sm);
              color: var(--colorText4);
              margin-top: 12px;
            }
  
            .edit-list {
              overflow: hidden;
              margin: -10px;
  
              &-item {
                float: left;
                margin: 10px 0 0 10px;
                display: inline-flex;
                align-items: center;
                gap: 12px;
                height: 36px;
                line-height: 34px;
                border-radius: 18px;
                border: 1px solid var(--colorText1);
                padding: 0 20px;
  
                &.disabled {
                  border: 1px solid var(--colorBorder2);
  
                  .txt {
                    color: var(--colorText5);
                  }
  
                  .btn-add {
                    .fi-circle-plus {
                      color: var(--colorText5);
                    }
                  }
                }
  
                .txt {
                  color: var(--colorText1);
                  font-size: var(--font-adm-base);
                }
  
                .btn-add {
                  line-height: initial;
  
                  .fi-circle-plus {
                    font-size: var(--font-adm-base);
                    color: var(--colorText1);
                  }
                }
              }
            }
          }
        }
  
        &:has(.holiday-wrap) {
          padding-bottom: 150px;
        }
      }
  
      .col-wrapper {
        display: flex;
        margin: 0 -20px;
  
        .col {
          position: relative;
          flex: 1.5;
          padding: 0 20px;
          &.right {
            flex: 1;
          }
          .dim {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 99;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: rgba(0, 0, 0, 0.4);
  
            &-txt {
              color: #fff;
              font-size: var(--font-adm-xl);
            }
          }
  
          .border-box {
            padding: 20px 40px;
            border: 1px solid var(--colorBorder2);
            border-radius: 10px;
          }
  
          .icon-pick {
            padding: 10px 25px;
  
            .check-list {
              padding: 0;
              // margin: -12px -20px 0 0;
  
              &-item {
                // margin: 12px 20px 0 0;
              }
            }
  
            .check-item {
              & > label {
                flex-direction: column;
              }
  
              &-txt {
                @include size(50px);
                // margin: 0 0 10px 0;
                padding: 10px;
                font-size: 30px;
                border: 1px solid var(--colorBorder3);
  
                &.system-menu {
                  display: flex;
                  align-items: center;
                  justify-content: center;
  
                  .nuxt-icon {
                    font-size: 24px;
                  }
                }
              }
            }
          }
  
          .btn-wrap {
            margin-top: 0;
          }
        }
      }
    }
  }
  