#wrapper {
    height: 100%;

    #contents {
        flex: 1;
        height: 100%;

        #wrapper-inner {
            padding: 0 100px;
            height: 100%;

            #aside {
                position: sticky;
                top: 100px;
                left: 0;
                height: 100%;
            }
        }
    }
}


header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 100px;

        .logo {
            font-size: var(--font-l);
            font-family: "Paper_B";
        }

        .menu-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;
            width: 50px;
            height: 50px;
        }
    }
}
